<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>部落格</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'article/css/article.css' %}">
</head>
<body>
<br>
<h1>{{ article.title }}</h1>
<p>發表時間:{{ article.pubDateTime|date:'Y-m-d H:i' }}
  <form action="{% url 'article:articleUpdate' article.id %}">
    <input type="submit" value="修改">
  </form>
</p>
<div class=articleContent>{{ article.content|linebreaks }}</div>
<p>瀏覽次數:{{ article.views }},按讚:{{ article.likes }}</p>
<form method=post action="{% url 'article:commentCreate' article.id %}">
  {% csrf_token %}
  留言:<input type=text name=comment>
  <input type=submit value=送出>
</form>
{% for comment in comments %}
<p>
  <span class=comment>{{ comment.content }}</span><br>
  <span class=commentTime>{{ comment.pubDateTime|date:'m 月 d 日 H:i'}}</span>
</p>
{% endfor %}
<br>
<p><a href="{% url 'article:article' %}">回部落格頁面</a></p>
<br><br>
</body>
</html>