<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>部落格</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
<h1>歡迎來到我的部落格</h1>
<br>
<p>
  <a href="{% url 'main:main' %}">回首頁</a>
  <a href="{% url 'article:articleCreate' %}">新增文章</a>
  <form action="{% url 'article:articleSearch' %}">
  <input type="text" name="searchTerm" {% if searchTerm %}value="{{ searchTerm }}"{% endif %}>
  <input type="submit" value="查詢">
  </form>
</p>
<h2>搜尋結果:</h2>
<table class="table table-striped table-hover">
  <tr><th>標題</th><th>發表時間</th></tr>
{% for article in articles %}
  <tr>
    <td><a href="{% url 'article:articleRead' article.id %}">{{ article.title }}</a></td>
    <td>{{ article.pubDateTime|date:'Y-m-d H:i' }}</td>
  </tr>
{% endfor %}
</table>
</body>
</html>